<!doctype html>
<%
  if (typeof user === 'undefined') user = null;
  if (typeof rooms === 'undefined') rooms = null;
  if (typeof hide_login === 'undefined') hide_login = null;
  var admin = user && user.admin;
%>
<html>
  <head>
    <title><%= blocks.title || config.web.title %></title>
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1" />
    <link
      href='http://fonts.googleapis.com/css?family=Lato:300,400,700'
      rel='stylesheet'
      type='text/css'>
    <link rel="stylesheet" href="/styles/bootstrap.css" />
    <%- stylesheets %>
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="shortcut icon" href="/images/csh_dj_small.png" />
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-container">
        <div class="navbar-header">
          <a href="/">
            <img
              src="/images/csh_dj_large.svg"
              id="navbar-logo"
              alt="<%= config.web.title %>"
              />
          </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <% if (user) { %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= user.fullName %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="<%= config.logoutUrl %>">Log Out</a></li>
              </ul>
            </li>
          <% } else if (!hide_login) { %>
            <li><a href="/login">Log In</a></li>
          <% } %>
        </ul>
      </div>
    </nav>
    <div class="body-container">
      <%- body -%>
    </div>
    <script>
      window.config = {
        max_file_size: <%= config.web.max_file_size %>
      };
      <% if (user) { %>
        window.user = {
          username: '<%= user.username %>',
          firstName: '<%= user.firstName %>',
          lastName: '<%= user.lastName %>',
          fullName: '<%= user.fullName %>',
          hash: '<%= user.hash() %>'
        };
      <% } %>
    </script>
    <script src="/scripts/jquery-1.10.2.js"></script>
    <script src="/scripts/bootstrap.js"></script>
    <%- scripts %>
  </body>
</html>

