<!doctype html>
<%
  if (typeof user === 'undefined') user = null;
  if (typeof rooms === 'undefined') rooms = null;
  if (typeof hide_login === 'undefined') hide_login = null;
  var admin = user && user.admin;
  var dropDownName = '';
  if (user) {
    var maxChars = 25;
    if (user.fullName.length > maxChars) {
      dropDownName = user.firstName;
    } else {
      dropDownName = user.fullName;
    }
    if (dropDownName.length > maxChars) {
      dropDownName = dropDownName.substr(0, maxChars - 3) + '...'
    }
  }
%>
<html>
  <head>
    <title><%= blocks.title || config.web.title %></title>
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1" />
    <link
      href='http://fonts.googleapis.com/css?family=Lato:300,400,700'
      rel='stylesheet'
      type='text/css'>
    <link rel="stylesheet" href="/styles/bootstrap.css" />
    <%- stylesheets %>
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="shortcut icon" href="/images/csh_dj_small.png" />
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="alert alert-danger nav-alert alert-text"></div>
      <div class="navbar-container">
        <div class="navbar-header logo">
          <a href="/">
            <img
              src="/images/csh_dj_logo_full.png"
              id="navbar-logo"
              alt="<%= config.web.title %>"
              />
          </a>
        </div>
        <span id="playback-container"></span>
        <ul class="nav navbar-nav navbar-right">
          <% if (user) { %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= dropDownName %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="<%= auth_urls.logout_url %>">Log Out</a></li>
              </ul>
            </li>
          <% } else if (!hide_login) { %>
            <li><a href="<%= auth_urls.login_url %>">Log In</a></li>
          <% } %>
        </ul>
      </div>
    </nav>
    <div class="row top-container">
      <div class="alert alert-danger top-alert alert-text"></div>
      <noscript>
        <div class="alert alert-danger top-alert">You must enable Javascript to use this site.</div>
      </noscript>
    </div>
    <div class="body-container">
      <%- body -%>
    </div>
    <footer>
    <div class="footer-section">
      <a href="<%= package.repository.url %>" target="_blank">
        DJ <%= package.version %>
      </a>
    </div>
    <% if (git.branch && git.branch !== 'master') { %>
      <div class="footer-section">
        <a href="#" class="git-branch">
          <%= git.branch %>
        </a>
      </div>
    <% } %>
    <div class="footer-section">
      Made with <span class="heart">&hearts;</span> by Drew
    </div>
    <div class="footer-section">
      <a href="<%= package.bugs.url %>" target="_blank">Issues, Feature Requests</a>
    </div>
    </footer>
    <script src="/scripts/jquery-1.10.2.js"></script>
    <script src="/scripts/bootstrap.js"></script>
    <script>
      window.config = {
        max_file_size: <%= config.web.max_file_size*1024*1024 %>
      };
      <% if (user) { %>
        window.user = {
          id: <%= user.id %>,
          username: '<%= user.username %>',
          firstName: '<%= user.firstName %>',
          lastName: '<%= user.lastName %>',
          fullName: '<%= user.fullName %>',
          hash: '<%= user.hash() %>'
        };
      <% } %>

      $(function() {
        // Enable :hover for links on Mobile Safari
        document.addEventListener("touchstart", function() {},false);

        <% if (git.branch && git.branch !== 'master') { %>
        // Git branch in footer.
        var $gitBtn = $('.git-branch');
        if ($gitBtn) {
          <%
            var commit = {
              message: '',
              author: '',
            };
            if (git.log && git.log.length > 0) {
              var commitArray = git.log[0];
              commit.message = commitArray[1];
              commit.author = commitArray[3];
            }
          %>
          var commit = <%- JSON.stringify(commit) %>;
          var branch = '<%= git.branch %>';
          var hash = '<%= git.hash %>';
          $gitBtn.tooltip({
            container: 'body',
            title: 'Click to view version info.'
          }).click(function(event) {
            var info = 'You are currently experiencing the ' + branch + ' branch.';
            info += '\n\n';
            info += 'The last commit was by ' + commit.author + '.\n';
            info += 'Its description is:\n___\n\n' + commit.message + '\n___\n\n';
            info += 'The commit\'s sha1 is selected below:';
            prompt(info, hash);
            event.preventDefault();
          });
        }
        <% } %>
      });
    </script>
    <%- scripts %>
  </body>
</html>

