<% layout('layouts/page') -%>
<% block('title', 'Rooms') -%>
<h1>
  <% if (user) { %>
    Hey, <%= user.firstName %>!
  <% } %>
  <% if (rooms) { %>
    <%= user ? 'Join' : 'Listen to' %> a room:
  <% } else { %>
    No rooms exist at the moment.
  <% } %>
</h1>
<% if (rooms) { var room_models = rooms.models; %>
  <div class="row">
    <% for (var i = 0; i < room_models.length; i++) { var room = room_models[i]; %>
      <div class="col-sm-6 col-md-6 room-listing">
        <div>
          <div class="room-name"><%= room.get('name') %></div>
          <div class="room-buttons">
            <div
              class="room-label"
              title="<%= room.numUsers() %> user<%= room.numUsers() == 1 ? '' : 's' %> in room.">
              <span class="glyphicon glyphicon-user"></span>
              <%= room.numUsers() %>
            </div>
            <a
              href="/room/<%= room.get('shortname') %>"
              class="btn btn-primary btn-large">
              <% if (user) { %>
                <span class="glyphicon glyphicon-play"></span> Play
              <% } else { %>
                <span class="glyphicon glyphicon-headphones"></span> Listen
              <% } %>
            </a>
          </div>
        </div>
      </div>
    <% } %>
  </div>
<% } %>

