<% layout('layouts/page') -%>
<% block('title', 'Log In') -%>
<% stylesheet('/styles/login.css') %>
<% script('/scripts/login.js') %>

<%
  var _values = (typeof values !== 'undefined') ? values : {};
  var fields = [];
  if (typeof dev !== 'undefined') {
    fields = ['username', 'first_name', 'last_name'];
  } else {
    fields = ['username', 'password'];
  }
  for (var i = 0; i < fields.length; i++)
    if (!_values[fields[i]]) _values[fields[i]] = '';
%>

<div class="well" id="loginwell">
  <h3>Please sign in.</h3>
  <% if (typeof error !== 'undefined') { %>
    <div class="alert alert-danger"><%= error %></div>
  <% } %>
  <form method="post" action="/login">
    <% if (typeof dev !== 'undefined') { %>
    <div class="row">
      <label for="inputUsername">Username</label>
      <input
        type="text"
        id="inputUsername"
        class="form-control"
        name="username"
        placeholder="Username"
        value="<%= _values['username'] %>" />
    </div>
    <div class="row">
      <label for="inputFirstName">First Name</label>
      <input
        type="text"
        id="inputFirstName"
        class="form-control"
        name="first_name"
        placeholder="First Name"
        value="<%= _values['first_name'] %>" />
    </div>
    <div class="row">
      <label for="inputLastName">Last Name</label>
      <input
        type="text"
        id="inputLastName"
        class="form-control"
        name="last_name"
        placeholder="Last Name"
        value="<%= _values['last_name'] %>" />
    </div>
    <% } else { %>
    <div class="row">
      <label for="inputUsername">Username</label>
      <input
        type="text"
        id="inputUsername"
        class="form-control"
        name="username"
        value="<%= _values['username'] %>" />
    </div>
    <div class="row">
      <label for="inputPassword">Password</label>
      <input
        type="password"
        id="inputPassword"
        class="form-control"
        name="password"
        value="<%= _values['password'] %>" />
    </div>
    <% } %>
    <div class="row">
      <input type="submit" class="btn btn-default" value="Sign In" />
    </div>
  </form>
</div>

