<%
  layout('layouts/page');
  block('title', room.name);
  script('/socket.io/socket.io.js');
  script('/scripts/underscore-min.js');
  script('/scripts/backbone-min.js');
  script('/scripts/room_models.js');
  script('/scripts/room_views.js');
  script('/scripts/connection.js');
  script('/scripts/room.js');
  if (user) {
    script('/scripts/dropzone.js');
    script('/scripts/upload.js');
    col_classes = {
      queue: 'col-sm-3 col-sm-12',
      users: 'col-sm-3 col-sm-12 col-sm-push-6',
      activity: 'col-sm-6 col-sm-12 col-sm-pull-3 room-activity'
    };
  } else {
    col_classes = {
      users: 'col-sm-3 col-sm-12',
      activity: 'col-sm-9 col-sm-12 room-activity'
    };
  }
%>
<div class="row room-container">
  <div class="alert alert-danger room-alert"></div>
  <noscript>
    <div class="alert alert-danger room-alert">Scripts must be enabled.</div>
  </noscript>
</div>
<div class="row room-container">
  <% if (user) { %>
    <div id="queue-column" class="fixed-column <%= col_classes.queue %>">
      <div class="drag-overlay"><div>Upload Songs</div></div>
      <div class="column-table">
        <div class="column-table-row">
          <div class="column-section">
            <h1>Your Queue</h1>
          </div>
        </div>
        <div class="column-table-row stretch">
          <div class="column-section">
            <ul>
              <li>What does the fox say?</li>
              <li>Nobody knows.</li>
              <li>It's life's greatest mystery!</li>
            </ul>
          </div>
        </div>
        <div class="column-table-row">
          <div id="uploads-header" class="column-section">
            <h1>
              Uploads
              <a id="btn-close-uploads" href="#" class="button">
                <span class="glyphicon glyphicon-remove"></span>
              </a>
            </h1>
          </div>
        </div>
        <div class="column-table-row">
          <div class="column-section" id="uploads-container">
            <ul id="previews"></ul>
          </div>
        </div>
        <div class="column-table-row">
          <div class="column-section">
            <a href="#" class="btn btn-default" id="btn-upload">
              <span class="glyphicon glyphicon-cloud-upload"></span>
              Upload Songs
            </a>
          </div>
        </div>
      </div>
    </div>
  <% } %>
  <div id="users-column" class="fixed-column <%= col_classes.users %>">
    <div class="column-table">
      <div class="column-table-row">
        <div class="column-section">
          <h1>Current DJs</h1>
        </div>
      </div>
      <div class="column-table-row">
        <div class="column-section">
          <em>There are no current DJs.</em>
        </div>
      </div>
      <div class="column-table-row">
        <div class="column-section">
          <h1>Listeners</h1>
        </div>
      </div>
      <div class="column-table-row stretch">
        <div class="column-section">
          <em>There are no current listeners.</em>
        </div>
      </div>
      <div class="column-table-row">
        <div class="column-section">
          <h1><span id="num-anonymous">&nbsp;</span></h1>
        </div>
      </div>
    </div>
  </div>
  <div
    id="activity-column"
    class="<%= col_classes.activity %>" style="position: relative;">
    <h1><span class="room-name"><%= room.name %></span> Activity</h1>
  </div>
</div>

<div class="template" id="upload-preview-template">
  <li class="dz-preview dz-file-preview">
    <div class="foreground">
      <span data-dz-name></span> (<span data-dz-size></span>)
      <div class="error-message" data-dz-errormessage></div>
    </div>
    <div class="background background-progress" data-dz-uploadprogress></div>
  </li>
</div>

<script>
  window.room = {
    name: '<%= room.name %>',
    shortname: '<%= room.shortname %>'
  };
  window.userhash = '<%= userhash %>';
</script>

