<%
  layout('layouts/page');
  block('title', room.name);
  script('/socket.io/socket.io.js');
  script('/scripts/underscore-min.js');
  script('/scripts/backbone-min.js');
  script('/scripts/handlebars.js');
  script('/scripts/jquery-ui.custom.min.js');
  script('/scripts/moment.min.js');
  script('/scripts/room_models.js');
  script('/scripts/room_views.js');
  script('/scripts/connection.js');
  script('/scripts/room.js');
  if (user) {
    script('/scripts/jquery.iframe-transport.js');
    script('/scripts/jquery.fileupload.js');
    col_classes = {
      queue: 'col-sm-3 col-sm-12',
      users: 'col-sm-3 col-sm-12 col-sm-push-6',
      activity: 'col-sm-6 col-sm-12 col-sm-pull-3 room-activity'
    };
  } else {
    col_classes = {
      users: 'col-sm-3 col-sm-12',
      activity: 'col-sm-9 col-sm-12 room-activity rightmost'
    };
  }
%>
<div class="row room-container">
  <div class="alert alert-danger room-alert"></div>
  <noscript>
    <div class="alert alert-danger room-alert">Scripts must be enabled.</div>
  </noscript>
</div>
<div class="row room-container">
  <% if (user) { %>
    <div id="queue-column" class="fixed-column <%= col_classes.queue %>">
      <input id="songupload" type="file" name="files[]" multiple>
      <div class="drag-overlay"><div>Upload Songs</div></div>
      <div class="column-table">
        <div class="column-table-row">
          <div class="column-section">
            <h1 class="queue-header">
              Your Queue
              <span class="button disabled" id="btn-search-placeholder">
                <span class="glyphicon glyphicon-search"></span>
              </span>
              <a
                id="btn-search"
                href="#"
                class="button"
                style="display: none;">
                <span class="glyphicon glyphicon-search"></span>
              </a>
            </h1>
            <h1 class="search-header" style="display: none;">
              <input
                type="text"
                id="search-input"
                maxlength="50"
                placeholder="search for songs..." />
              <div class="faded-edge"></div>
            </h1>
          </div>
        </div>
        <div class="column-table-row stretch">
          <div class="column-section" id="queue-section">
            <ul id="queue-list"></ul>
            <div class="section-empty center">
              Your queue is empty.<br />
              <br />
              Search for songs or drag files here to get started.
            </div>
            <ul id="search-results-list" style="display: none;"></ul>
          </div>
        </div>
        <div class="column-table-row">
          <div id="uploads-header" class="column-section">
            <h1>
              Adding Songs
              <a id="btn-close-uploads" href="#" class="button">
                <span class="glyphicon glyphicon-remove"></span>
              </a>
            </h1>
          </div>
        </div>
        <div class="column-table-row">
          <div class="column-section" id="uploads-container">
            <ul id="previews"></ul>
          </div>
        </div>
        <div class="column-table-row">
          <div class="column-section section-header">
            <a href="#" class="btn btn-default" id="btn-upload">
              <span class="glyphicon glyphicon-cloud-upload"></span>
              Upload Songs
            </a>
          </div>
        </div>
      </div>
    </div>
  <% } %>
  <div id="users-column" class="fixed-column <%= col_classes.users %>">
    <div class="column-table">
      <div class="column-table-row">
        <div class="column-section">
          <h1 id="dj-header">
            Current DJs
            <div class="error"></div>
            <% if (user) { %>
              <span class="button disabled" id="btn-dj-placeholder">
                <span class="glyphicon glyphicon-play"></span>
              </span>
              <a id="btn-begin-dj" href="#" class="button">
                <span class="glyphicon glyphicon-play"></span>
              </a>
              <a id="btn-end-dj" href="#" class="button">
                <span class="glyphicon glyphicon-stop"></span>
              </a>
            <% } %>
          </h1>
        </div>
      </div>
      <div class="column-table-row">
        <div class="column-section" id="dj-section">
          <ul id="dj-list"></ul>
          <div class="section-empty">
            There are no current DJs.
          </div>
        </div>
      </div>
      <div class="column-table-row">
        <div class="column-section">
          <h1>Listeners</h1>
        </div>
      </div>
      <div class="column-table-row stretch">
        <div class="column-section" id="listener-section">
          <ul></ul>
          <div class="section-empty">
            There are no current listeners.
          </div>
        </div>
      </div>
      <div class="column-table-row">
        <div class="column-section" id="num-anonymous"></div>
      </div>
    </div>
  </div>
  <div
    id="activity-column"
    class="<%= col_classes.activity %>">
    <div class="top-fade"></div>
    <div class="bottom-fade"></div>
    <h1><span class="room-name"><%= room.get('name') %></span> Activity</h1>
    <ul class="activity-container" id="activity-container"></ul>
  </div>
</div>

<script type="text/template" id="activity-song-template">
  <div class="artwork" {{#if image_url}}style="background-image: url('{{image_url}}');"{{/if}}></div>
  <h1><span class="name">{{fullName}}</span> played:</h1>
  <div class="song-info">
    <div class="title">{{title}}</div>
    <div class="artist-album">
      {{#if artist}}
        {{artist}}
        {{#if album}}
        - {{album}}
        {{/if}}
      {{/if}}
    </div>
    <% if (user) { %>
    <div class="actions">
      {{#if enqueued}}
        <a href="#" class="action-enqueue disabled">
          <span class="glyphicon glyphicon-ok"></span>
          Added
        </a>
      {{else}}
        {{#if enqueueing}}
          <a href="#" class="action-enqueue disabled">
            <span class="glyphicon glyphicon-plus"></span>
            Adding...
          </a>
        {{else}}
          <a href="#" class="action-enqueue">
            <span class="glyphicon glyphicon-plus"></span>
            Add to queue
          </a>
        {{/if}}
      {{/if}}
      <a href="{{song_url}}" target="_blank" class="action-download">
        <span class="glyphicon glyphicon-download-alt"></span>
        Download
      </a>
    </div>
    <% } %>
  </div>
  <div class="timestamp">
    <span class="fuzzytime" title="{{prettyDate}}"></span>
    <span class="glyphicon glyphicon-time"></span>
  </div>
</script>

<script type="text/template" id="activity-join-leave-template">
  <h1>{{fullName}} {{verb}} the room.</h1>
  <div class="timestamp">
    <span class="fuzzytime" title="{{prettyDate}}"></span>
    <span class="glyphicon glyphicon-time"></span>
  </div>
</script>

<script type="text/template" id="song-add-template">
  <div class="foreground">
    <div class="status">
      {{#if mb}} <span class="size">({{ mb }}MB)</span>{{/if}} {{ status }}
      {{#if added}}
        <span class="glyphicon glyphicon-ok-sign"></span>
      {{/if}}
      {{#if failed}}
        <span class="glyphicon glyphicon-exclamation-sign"></span>
      {{/if}}
    </div>
    <div class="name">{{ name }}</div>
    {{#if error}}
      <div class="error">{{ error }}</div>
    {{/if}}
  </div>
  <div class="background background-progress"></div>
</script>

<script type="text/x-handlebars-template" id="search-section-template">
  <div class="section-header">
    <div class="loading-gradient">Loading...</div>
    <div class="content">{{ title }}</div>
  </div>
  <div class="section-results-placeholder">
    No results found.
  </div>
  <span class="section-results"></span>
</script>

<script type="text/x-handlebars-template" id="search-result-template">
  <div
    class="artwork"
    style="{{#if thumbnail_url}}background-image: url('{{thumbnail_url}}'){{/if}}">
  </div>

  <div
    class="fg"
    title="&quot;{{title}}&quot;{{#if artist}} by {{artist}}{{/if}}{{#if album}} on {{album}}{{/if}}">
    <span class="title">{{#if playing}}&#9658; {{/if}}{{title}}</span>
    <span class="artist">{{artist}}</span>
    {{#if album}}
      <span class="album">- {{album}}</span>
    {{/if}}
    <div class="faded-edge"></div>
  </div>
</script>

<script type="text/x-handlebars-template" id="queue-item-template">
  <div
    class="artwork"
    style="{{#if artwork_path}}background-image: url('{{artwork_path}}'){{/if}}">
  </div>

  <div
    class="fg"
    title="&quot;{{title}}&quot;{{#if artist}} by {{artist}}{{/if}}{{#if album}} on {{album}}{{/if}}">
    <span class="title">{{#if playing}}&#9658; {{/if}}{{title}}</span>
    <span class="artist">{{artist}}</span>
    {{#if album}}
      <span class="album">- {{album}}</span>
    {{/if}}
    <div class="controls">
      {{#unless playing}}
        <a href="#" class="btn-escalate" title="Move to top of queue (play next)">
          <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
        <a href="#" class="btn-remove" title="Remove from queue">
          <span class="glyphicon glyphicon-remove"></span>
        </a>
      {{/unless}}
    </div>
    <div class="faded-edge"></div>
  </div>
</script>

<script type="text/x-handlebars-template" id="playback-template">
  {{#if title}}
    <div
      id="playback"
      class="navbar-header navbar-middle playback">
      <div class="info">
        <div
          class="artwork {{#unless artwork_path}}no-artwork{{/unless}}"
          style="{{#if artwork_path}}background-image: url('{{artwork_path}}');{{/if}}"></div>
        <div class="title">{{title}}</div>
        <div class="artist">{{artist}}</div>
        {{#if artist}}{{#if album}}
          <div class="album"> - {{album}}</div>
        {{/if}}{{/if}}
        <div class="controls">
          {{#if muted}}
            <a href="#" class="btn-unmute">
              <span class="glyphicon glyphicon-volume-off"></span>
            </a>
          {{else}}
            <a href="#" class="btn-mute">
              <span class="glyphicon glyphicon-volume-up"></span>
            </a>
          {{/if}}
          {{#if selfIsDJ}}
            <a href="#" class="btn-skip">
              <span class="glyphicon glyphicon-step-forward"></span>
            </a>
          {{/if}}
        </div>
      </div>
      <div class="timeline">
        <div class="played-container">
          <div class="played"></div>
        </div>
        <div class="left progress-timestamp"></div>
        <div class="right duration-timestamp"></div>
      </div>
    </div>
  {{else}}
    <div
      id="playback-placeholder"
      class="navbar-header navbar-middle playback-placeholder">
      No Songs Playing
    </div>
  {{/if}}
</script>

<script type="text/x-handlebars-template" id="user-template">
  {{#if dj}}{{#if firstDJ}}
  <span
    class="glyphicon glyphicon-music"
    title="{{firstName}} is the current DJ."></span>
  {{/if}}{{/if}}
  {{fullName}}
</script>

<script>
  window.room = {
    name: "<%= room.get('name') %>",
    shortname: "<%= room.get('shortname') %>"
  };
  window.search_sections = [
    <% for (var i = 0; i < search_sections.length; i++) { %>
      {
        source: "<%= search_sections[i].name %>",
        title: "<%= search_sections[i].display_name %>"
      },
    <% } %>
  ];
</script>

